
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap');

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: rgb(169, 209, 209);
    }

    #controls{
        width: 100vw;
        height: 30vh;
    }

    #title {
        width: 100vw;
    }

    h1 {
        font-size: 4em;
        text-align: center;
        margin: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
        
    p {
        font-size: 1em;
        text-align: center;
        margin: 0px 0px 5% 0;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .controls {
        width: 20%;
        height: 20%;
        background-color: coral;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        box-shadow: 0px 0px 1px 1.5px black;
    }

    .controls:hover {
        background-color: rgb(255, 192, 169);
        transform: scale(1.2);
        box-shadow: 0px 0px 3px 1px black;
    }

    #board {
        height: 50vh;
        width: 70vw;
        display: inline-grid;
        grid-template-columns: repeat(16, minmax(auto, 1fr));
        background-color: white;
        border: 2px solid black;
        box-shadow: 0px 0px 1px 1px black;
        
    }

    .boardDiv {
        border: 0px;
        margin: 0px;
    }
} 

@media only screen and (min-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: rgb(169, 209, 209);
    }

    #controls{
        width: 100vw;
        height: 30vh;
    }

    #title {
        width: 100vw;
    }

    h1 {
        font-size: 4em;
        text-align: center;
        margin: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
        
    p {
        font-size: 1em;
        text-align: center;
        margin: 0px 0px 5% 0;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .controls {
        width: 20%;
        height: 20%;
        background-color: coral;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        box-shadow: 0px 0px 1px 1.5px black;
    }

    .controls:hover {
        background-color: rgb(255, 192, 169);
        transform: scale(1.2);
        box-shadow: 0px 0px 3px 1px black;
    }

    #board {
        height: 60vh;
        width: 70vw;
        display: inline-grid;
        grid-template-columns: repeat(16, minmax(auto, 1fr));
        background-color: white;
        border: 2px solid black;
        box-shadow: 0px 0px 1px 1px black;
        
    }

    .boardDiv {
        border: 0px;
        margin: 0px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: rgb(169, 209, 209);
    }

    #controls{
        width: 100vw;
        height: 35vh;
        justify-self: flex-start;
        position: relative;
        top: 0;
    }

    #title {
        width: 100vw;
    }

    h1 {
        font-size: 7em;
        text-align: center;
        margin: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
        
    p {
        font-size: 1.5em;
        text-align: center;
        margin: 0px 0px 5% 0;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .controls {
        width: 25%;
        height: 4em;
        background-color: coral;
        border: none;
        border-radius: 10px;
        font-size: 2em;
        box-shadow: 0.5px 0.5px 1px 3px grey;
    }

    .controls:hover {
        background-color: rgb(255, 192, 169);
        transform: scale(1.2);
        box-shadow: 0px 0px 3px 1px black;
    }

    #board {
        height: 38vh;
        width: 70vw;
        display: inline-grid;
        grid-template-columns: repeat(16, minmax(auto, 1fr));
        background-color: white;
        border: 2.5px solid black;
        box-shadow: 0px 0px 1px 1px black;
        
    }

    .boardDiv {
        border: 0px;
        margin: 0px;
    }

    #name {
        align-self: center;
        justify-self: flex-end;
        position: fixed;
        bottom: 0;
    }
}


@media only screen and (min-width: 992px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: rgb(169, 209, 209);
    }

    #controls{
        width: 100vw;
        height: 25vh;
    }

    #title {
        width: 100vw;
    }

    h1 {
        font-size: 10em;
        text-align: center;
        margin: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
        
    p {
        font-size: 1.5em;
        text-align: center;
        margin: 0px 0px 2em 0;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .controls {
        width: 14%;
        height: 3em;
        background-color: coral;
        border: none;
        border-radius: 5px;
        font-size: 2em;
        box-shadow: 1px 1px 1px 0.5px black;
    }

    .controls:hover {
        background-color: rgb(255, 192, 169);
        transform: scale(1.1);
        box-shadow: 0px 0px 3px 1px black;
    }

    #board {
        height: 70vh;
        width: 40vw;
        display: inline-grid;
        grid-template-columns: repeat(16, minmax(auto, 1fr));
        background-color: white;
        border: 2px solid black;
        box-shadow: 0px 0px 1px 1px black;
        
    }

    .boardDiv {
        border: 0px;
        margin: 0px;
    }

    #name {
        align-self: center;
        justify-self: flex-end;
        margin: 0.5px;
        bottom: 0;
        position: fixed;
    }
}